/* styles2.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d8d3ce;
    --black:hsl(0, 0%, 0%);
    --bg:#363636;
    --bisous:#9e8e6c;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%;
    overflow-x: hidden;
}

.container {
    background-image: url("../images/bg_parcourir.jpg");
    width: 100%;
    height: 1500px; /* Ajustez cette valeur en fonction de la hauteur souhaitée pour le défilement */
    background-size: contain; /* Adapte l'image à la taille de l'écran */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: top center; /* Centre l'image dans le conteneur */
}

header {
    background-color: rgba(255, 255, 255, 0.1); /* Presque entièrement transparent */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo .img-2 {
    width: 20%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white; /* White color for links */
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; /* Hover color for links */
}

.btn-connexion {
    background-color: white; /* White background for the button */
    color: #000000;
    padding: 5px 10px;
    margin-right: 60px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Add margin to the left of the button to separate from the previous element */
}

.btn-connexion:hover {
    background-color: #e3bdf065;
    color: white;
}

main {
    padding-top: 100px; /* Adjusted padding for fixed header */
    text-align: center;
    position: relative;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    color: white;
    text-align: center;
    z-index: 200;
    margin: auto;
}

.hero .img-2 {
    width: 90px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
    margin-right: 20px;
}

.hero h1 {
    font-size: 3em;
    color: #fff; /* White for the main title */
}

.calendrier_container {
    z-index: 100;
    width: 80%;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.678);
    margin-left: 10%;
}

.fond_blanc_dg {
    position: relative;
    bottom : 655px;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 55%, rgb(255, 255, 255) 100%)
}
.listings .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .listings .box-container .box{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    overflow-x: hidden;
 }
 
 .listings .box-container .box .admin{
    display: flex;
    align-items: center;
    gap: 1.5rem;
 }
 
 .listings .box-container .box .admin h3{
    height: 4.5rem;
    line-height: 4.4rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--border);
    text-align:center;
 }
 
 .listings .box-container .box .admin p{
    font-size: 1.7rem;
    color: var(--black);
    padding-bottom: .3rem;
 }
 
 .listings .box-container .box .admin span{
    font-size: 1.5rem;
    color: var(--border);
 }
 
 .listings .box-container .box .thumb{
    position: relative;
    height: 20rem;
    overflow: hidden;
    margin: 1.5rem 0;
 }
 
 .listings .box-container .box .thumb img{
    height: 100%;
    width: 100%;
    transition: .2s linear;
 }
 
 .listings .box-container .box:hover .thumb img{
    transform: scale(1.1);
 }
 
 .listings .box-container .box .thumb .total-images{
    position: absolute;
    top: 1rem; left: 1rem;
    background-color: rgba(0,0,0,.3);
    color: var(--white);
    padding: .5rem 1.5rem;
    font-size: 1.6rem;
    z-index: 1;
 }
 
 .listings .box-container .box .thumb .total-images i{
    margin-right: .7rem;
 }
 
 .listings .box-container .box .thumb .type{
    position: absolute;
    bottom: 1rem; left: .7rem;
    z-index: 1;
 }
 
 .listings .box-container .box .thumb .type span{
    margin-right: .7rem;
    padding: .5rem 1.5rem;
    color: var(--white);
    background-color: var(--bisous);
    font-size: 1.6rem;
 }
 
 .listings .box-container .box .thumb .save{
    position: absolute;
    top: 1rem; right: 1rem;
    z-index: 1;
 }
 
 .listings .box-container .box .thumb .save button{
    background-color: rgba(0,0,0,.3);
    color: var(--white);
    padding: .7rem 1rem;
    font-size: 1.6rem;
    cursor: pointer;
 }
 
 .listings .box-container .box .thumb .save button:hover{
    background-color: var(--main-color);
 }
 
 .listings .box-container .box .name{
    font-size: 2rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    color: var(--black);
    margin-bottom: .5rem;
 }
 
 .listings .box-container .box .location{
    padding-top: 1rem;
    font-size: 1.6rem;
    color: var(--light-color);
 }
 
 .listings .box-container .box .location i{
    margin-right: 1rem;
    color: var(--main-color);
 }
 
 .listings .box-container .box .flex{
    display: flex;
    background-color: var(--light-bg);
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    gap: 1.5rem;
 }
 
 .listings .box-container .box .flex p{
    font-size: 1.6rem;
    flex: 1 1 4rem;
 }
 
 .listings .box-container .box .flex p span{
    color: var(--light-color);
 }
 
 .listings .box-container .box .flex p i{
    margin-right: 1rem;
    color: var(--main-color);
 }
 .footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}

